<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokemon Api
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card *ngFor="let pokemon of pokemons">
      <ion-card-content class="card-content">
        <div class="text-content">
          <ion-card-title class="card-title">{{ pokemon.name | titlecase }}</ion-card-title>
          <p class="card-description">{{pokemon.descripcion}}</p>
        </div>
        <div class="pokemon-image">
          <img [src]="pokemon.image" alt="{{ pokemon.name }}">
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
